
.fakeBox {
    width: 250px;
    background-color: beige;
    font-size: 20px;
    font-family: fantasy;
    display: inline-block;
    margin-left: 10px;
}

.testBox{
    align-self: center;
    text-align: center;
    background-color: aliceblue;
    padding: 10px;
    margin: auto;
    width: 600px;
    border: 2px;
    border-style: dashed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

pre {
    background-color: white;
    font-size: 18px;
}


.codeWin {
    background-color: white;
    width: 380px;
    border: 2px;
    border-style: dashed;
    margin: auto;
    padding: 10px;
    transition-property: transform;
    transition-duration: 1s;
}

.codeWin:hover {
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.blinkWarning {
    animation: blinker 1s linear infinite;
    color: red;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.footer {
    margin: auto;
    font-size: 14;
    width: 98%;
    border-color: darkred;
    border-style: solid;
    background-color: white;
    margin-top: 40px;
    padding: 5px;
    text-align: center;
}

input {
    display: inline-block;
    width: 100px;
    background-color: lightskyblue;
    border: 0px;
    text-align: center;
}

body {
    background-color: lightgoldenrodyellow;
}