body{
    background-color: rgba(250, 246, 241, 0.938);
}



#header{
    text-align: center; 
    text-shadow: 2px 2px 5px rgb(236, 92, 140);
    font-family: inherit;
    font-size: 40px;
    padding: 20px;
}



#header:hover { animation: perspect 10s infinite }
@keyframes perspect {
   0% {transform:perspective(1000px) rotateY(0deg)}
   25% {transform:perspective(1000px) rotateY(90deg)}
   50% {transform:perspective(1000px) rotateY(0deg)}
}


.beschreiben{
    
    padding: 20px;
    font-style: oblique;
    font-size: 35px;
    color: rgb(15, 2, 8); 
    padding-bottom: 5px;
}


.foto{
    float: right;
    width:600px;
    height: 300px;
    
}

.question{
    color: rgb(189, 91, 11); 
    }


h2 {
    color: rgb(224, 115, 170);
    font-family: cursive;
    font-size: 50px;
    margin: 2px;
    text-align: center; 
    background-color: rgba(255, 127, 80, 0.575); 
    border-radius: 25px;
    }


.box{
    border-style: solid;
    border-color:rgba(223, 167, 121, 0.548);
    border-radius: 25px;
    float: left;
    font-size: 27px;
    margin-top: 5%;
    margin-left: 4%; 
    margin-right: 7%; 
    height: 500px;
    background-color:rgb(58, 53, 53);
    font-family: inherit;   
}

.syntax pre
{
    color: rgb(229, 237, 245);
    font-style: oblique; 
}
 .syntax pre:hover{
    
     animation: mymove 5s infinite;
}

@keyframes mymove {
    0% {transform:mymove; color: aliceblue}
  
    50% {transform:mymove; color: rgb(58, 53, 53)}
   
    100% {transform:mymove;  color:rgb(58, 53, 53) }
  }
  


footer p{
   color: rgba(15, 10, 1, 0.938);
   background-color: rgba(228, 195, 50, 0.5);
   font-style: oblique; 
   font-size: 25px; 
   border-radius: 10px; 
}
footer{
   clear: both;
   background-color:rgba(12, 9, 2, 0);
    padding: 40px;  
}