
.fakeBox {
    width: 250px;
    background-color: beige;
    font-size: 20px;
    font-family: fantasy;
    display: inline-block;
    margin-left: 10px;
}

.testBox{
    align-self: center;
    text-align: center;
    background-color: aliceblue;
    padding: 10px;
    margin: auto;
    width: 380px;
    border: 2px;
    border-style: dashed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

pre {
    background-color: white;
    font-size: 18px;
}


.codeWin {
    background-color: white;
    width: 380px;
    border: 2px;
    border-style: dashed;
    border-color: black;
    margin: auto;
    padding: 10px;
    transition-property: transform;
    transition-duration: 2s;
}

.codeWin:hover {
    animation-name: rotate; 
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-color: red;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.blinkWarning {
    animation: blinker 1s linear infinite;
    color: red;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.footer {
    margin: auto;
    font-size: 14;
    width: 98%;
    border-color: darkred;
    border-style: solid;
    background-color: white;
    margin-top: 40px;
    padding: 5px;
    text-align: center;
}

.tabelle { display: table; width:99%; margin-left:auto; margin-right:auto;  } 

.zeile { display: table-row; } 
.zelle1 { display: table-cell; width:10%;  } 
.zelle2 { display: table-cell; width:70%;  } 
.zelle3 { display: table-cell; width:20%;  }

.authorInfo {
    background-color: darksalmon;
    border-radius: 10%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.authorInfo h2{
    text-align: center;
}

.newsRow {
    background: white;
    margin-right: 15px;
    font-size: 12px;
    padding: 8px;
}

.newsItem {
    font-size: 13px;
}

.pictureHalo {
    text-align: center;
    border-radius: 100%;
    background-image: radial-gradient(farthest-corner at 100px 60px, lightgoldenrodyellow 0%, darksalmon 100%);
    opacity: 0.8;
    padding: 15px;
}
.authorImage {
    align-self: center;
    border-radius: 20%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

input {
    display: inline-block;
    width: 100px;
    background-color: lightskyblue;
    border: 0px;
    text-align: center;
}

body {
    background-color: lightgoldenrodyellow;
}

